<?xml version="1.0"?>

<model>
  <name>axes</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Clyde McQueen</name>
    <email>clyde@mcqueen.net</email>
  </author>

  <maintainer email="clyde@mcqueen.net">Clyde McQueen</maintainer>

  <description>
    Debugging tool: x, y and z axis
  </description>
</model>
