<?xml version="1.0"?>

<!-- gz sim will check /usr/share for models, and there is a GNOME package named 'orca' that lives there. -->
<!-- So, name this model 'orca4' to avoid a conflict. -->
<!-- See: https://answers.gazebosim.org/question/28549/gz_sim_resource_path-includes-usrshare/ -->

<model>
  <name>orca4</name>
  <version>4.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Clyde McQueen</name>
    <email>clyde@mcqueen.net</email>
  </author>

  <maintainer email="clyde@mcqueen.net">Clyde McQueen</maintainer>

  <description>
    Orca model
  </description>
</model>
