<?xml version="1.0"?>

<model>
  <name>orca</name>
  <version>4.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Clyde McQueen</name>
    <email>clyde@mcqueen.net</email>
  </author>

  <maintainer email="clyde@mcqueen.net">Clyde McQueen</maintainer>

  <description>
    Orca model
  </description>
</model>
